<!doctype html>
<html lang="en">
  <head>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'book_reviews/styles.css' %}" />
    <title>Books Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
      <h1>Welcome, {{user.name}}!</h1>
      {% if messages %}
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
      {% endif %}
      <a href="/create_review" class="top_link">Add Book and Review</a>
      <a href="/logout">Logout</a>
      <br>
      <br>
      <br>
        <div class="row">
            <div class="col-md-6">
            <h4>Recent Book Reviews:</h4>
            <div class="scroll">
                {% for review in reviews %}
                <div>
                   <h4><a href="/books/{{review.books_list.id}}">{{review.books_list.title}}</a></h4>
                    <p>Rating:{{review.rating}}</p>
                    <p> <a href="/user/{{review.user.id}}"> {{review.user.name}}</a> says: {{review.review}} </p>
                </div>
                {% endfor %}
            </div>
            </div>
            <div class="col-md-6">
                <h4>Other Books with Reviews:</h4>
                <div class="scroll">
                    {% for book in reviews %}
                   <p> <a href=" books/{{book.books_list.id}} ">{{book.books_list.title}}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>